/* GENERAL */
html,body {
    height:100%;
    width: 100%;
}
html {
    overflow-x: hidden;
}
body {
    display: table;
    font-family: 'Gothic A1' !important;
}


/* Index */
#index-hero > div {
    background-image: url("assets/img/banner/home-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
}

#index-hero img {
    display: block;
    max-height: 50vh;
    max-width: 100%;
    width: auto;
    height: auto;
}

#index-hero-text p, #index-hero-text h2 {
    padding: 3px 5px;
    background-color: rgba(1, 5, 68, 0.7);
    border-radius: 1px;
}

/* Objectives */
.banner > div {
    background-size: cover;
    background-repeat: no-repeat;
}

.banner > div .row {
    background-color: rgba(0, 0, 0, 0.7);
    height: 80px;
}


/* Subsystems */
.subsystems-container img {
    max-height: 300px;
}


/* Media */
.media-container img.img-fluid {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.media-img-caption {
      position: absolute;
      bottom: 20px;
      left: 20px;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 3px 20px;
}


/* About Us */
.about-profile {
    padding-bottom: 30px;
}
.about-profile img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}


/* Footer */
.footer-quote {
    display: none;
}