/* General */
html,body {
    height:100%;
    width: 100%;
}
html {
    overflow-x: hidden;
}
body {
    display: table;
    font-family: 'Gothic A1' !important;
}

/* Index */
#index-hero, #index-hero > div {
    background-image: url("assets/img/earth-space.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
}

#index-hero > div > div {
    max-width: 50vh;
}
#index-hero img {
    max-width: 100%;
}

/* Mission Objectives */
#mo-banner > div {
    background-image: url("assets/img/reverb/bann5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#mo-banner > div .row {
    background-color: rgba(0, 0, 0, 0.7);
    height: 80px;
}

.mo-container img.img-fluid {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.mo-img-caption {
      position: absolute;
      bottom: 20px;
      left: 20px;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 3px 20px;
}

/* Footer */
.footer-quote {
    display: none;
}